.streamingSection__image {
  display: grid;
  padding-left: 0.5em;
  padding-top: 0.5em;
  gap: 1.8em;
  grid-auto-flow: column;
  overflow: scroll;
  width: 20em;
}

.streamingSection__image::-webkit-scrollbar {
  display: none;
}
