.castCard {
  width: 7em;
  height: min-content;
  box-shadow: 1px 1px 13px 2px rgba(0, 0, 0, 0.31);
  border-radius: 0.625em;
  margin: 0 1em;
}

.castCard__image {
  width: 7em;
  border-top-left-radius: 0.625em;
  border-top-right-radius: 0.625em;
}

.castCard__name {
  font-size: 0.9em;
  margin: 0;
  padding-left: 0.3em;
}
.castCard__characterName {
  font-size: 0.7em;
  font-weight: lighter;
  margin: 0;
  padding-bottom: 0.3em;
  padding-left: 0.3em;
}

@media (max-width: 414px) {
  .castCard {
    width: 6em;
    height: min-content;
    margin: 1em 0.5em;
  }

  .castCard__image {
    width: 6em;
    border-top-left-radius: 0.625em;
    border-top-right-radius: 0.625em;
  }

  .castCard__name {
    font-size: 0.7em;
  }
  .castCard__characterName {
    font-size: 0.6em;
    padding-left: 0.5em;
    margin: 0;
  }
}

@media (max-width: 320px) {
  .castCard {
    width: 5em;
    height: 7em;
    margin: 0.4em;
  }

  .castCard__image {
    width: 5em;
    border-top-left-radius: 0.625em;
    border-top-right-radius: 0.625em;
  }

  .castCard__name {
    font-size: 0.7em;
  }
  .castCard__characterName {
    font-size: 0.6em;
    padding-left: 1em;
    margin: 0;
  }
}
