.container {
  background: var(--tertiary-bg-color);
  display: grid;
  margin: 0;
  position: relative;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

.logo {
  width: 80%;
  padding-top: 10em;
}

.bottom {
  position: fixed;
  overflow: hidden;
  width: 100%;
  bottom: 0;
  max-height: 25em;
}
