.container {
  background: var(--tertiary-bg-color);
  display: grid;
  margin: 0;
  position: relative;
  height: 100vh;
  text-align: center;
}

.logo {
  width: 80%;
  padding-top: 8em;
}

.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 22em;
}

@media (max-width: 375px) {
  .logo {
    padding-top: 3em;
    width: 90%;
  }
}
