*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* FONTS */
  --font-family: "Roboto", sans-serif;

  /* COLORS */
  --primary-color: #1d3557;
  --secondary-color: #457b9d;
  --tertiary-color: #e63946;
  --text-color: #1d3557;
  --secondary-text-color: #fff;
  --contrast-text-color: #000;
  --primary-bg-color: #1d3557;
  --secondary-bg-color: #fff;
  --tertiary-bg-color: #457b9d;
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
}

a {
  text-decoration: none;
}
