.castCards {
  display: grid;
  column-gap: 0.3em;
  width: 28em;
  height: max-content;
  grid-auto-flow: column;
  overflow: scroll;
  margin-bottom: 3em;
}

.castCards::-webkit-scrollbar {
  display: none;
}

@media (max-width: 375px) {
  .castCards {
    width: 21em;
  }
}

@media (max-width: 320px) {
  .castCards {
    width: 21em;
  }
}
