.castCards {
  display: grid;
  column-gap: 1em;
  width: 22em;
  padding: 0.9em;
  height: max-content;
  grid-auto-flow: column;
  overflow: scroll;
}

.castCards::-webkit-scrollbar {
  display: none;
}
