.container {
  display: grid;
  margin: 0;
  position: relative;
  text-align: center;
  justify-content: left;
  align-content: center;
}

.border {
  border: 1px solid var(--tertiary-color);
  text-align: center;
  width: 20em;
}

.filmInfo {
  display: grid;
  grid-template-columns: 5em 1fr;
  padding: 1em 3em 1em;
}

.filmName {
  font-size: 1.5em;
  margin: 0;
}

.genre {
  display: block;
  font-size: 0.8;
}

.runtime {
  display: block;
  font-size: 0.8;
  grid-column: 2/3;
}

.filmText {
  padding: 0 2em;
  text-align: left;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 0;
  max-height: 5em;
}
