.container {
  display: grid;
  margin: 0;
  position: relative;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  margin: 0;
  max-height: 3em;
}

@media (max-width: 375px) {
  .footer svg {
    height: 3em;
    width: 100vw;
  }
}

@media (max-width: 320px) {
  .footer {
    max-height: 2em;
    width: 31.25em;
  }
}
