.container {
  display: grid;
  margin: 0;
  position: relative;
  text-align: center;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 0;
  max-height: 2.4em;
}

@media (max-width: 320px) {
  .footer {
    max-height: 2em;
  }
}
