.movieCard {
  width: 19em;
  height: 35em;
  border-radius: 0.625em;
  margin: 5em auto;
  text-align: center;
  padding-top: 1em;
  box-shadow: 2px -2px 39px 2px rgba(0, 0, 0, 0.31);
}

.movieCard__image {
  height: 22em;
  width: auto;
  border-radius: 0.625em;
}

.movieCard__headline {
  margin: 0;
  margin-bottom: 0.7em;
  padding: 0 0.5em;
  font-size: 1.7em;
}

@media (max-width: 375px) {
  .movieCard {
    width: 15em;
    height: min-content;
    border-radius: 0.625em;
    margin: 2em auto;
    text-align: center;
  }
  .movieCard__image {
    height: 17em;
    width: auto;
    border-radius: 0.625em;
  }

  .movieCard__headline {
    padding-bottom: 0.7em;
    margin: 0.5em auto 0.4em;
    max-width: 12em;
    font-size: 1em;
  }
}
