.container {
  display: grid;
  margin: 0;
  position: relative;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

.bigMovieCard {
  padding: 5em 0;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}
