.container {
  display: grid;
}

.trailer {
  margin: 0 auto;
  width: 100%;
}

.border {
  border: 1px solid var(--tertiary-color);
  text-align: center;
  width: 20em;
}

.filmInfo {
  display: grid;
  grid-template-columns: 5em 7em;
  padding: 1em 3em 1em;
  column-gap: 2em;
  margin: 0 auto;
  max-width: 18em;
}

.filmName {
  font-size: 1.5em;
  margin: 0;
}

.genre {
  display: block;
  font-size: 0.8;
}

.runtime {
  display: block;
  font-size: 0.8;
  grid-column: 2/3;
}

.filmText {
  padding: 0 3em;
  text-align: left;
  max-width: 20em;
  margin: 0 auto;
}

.castHeadline {
  font-size: 1.5em;
  text-align: center;
}

.castSection {
  display: flex;
  margin: 2em 1em;
  justify-content: center;
}

.availableStreaming {
  padding-bottom: 3em;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 0;
  max-height: 2.4em;
}

@media (max-width: 414px) {
  .trailer {
    width: 100%;
  }

  .filmText {
    max-width: 20em;
  }
}

@media (max-width: 375px) {
  .trailer {
    width: 100%;
  }

  .filmText {
    max-width: 22em;
  }

  .border {
    border: 1px solid var(--tertiary-color);
    text-align: center;
    width: 18em;
  }
  .availableStreaming {
    padding-bottom: 2em;
  }
}
