.container {
  display: grid;
}

.trailer {
  width: 100%;
  height: 12.5em;
}

.border {
  border: 1px solid var(--tertiary-color);
  text-align: center;
  width: 25em;
}

.filmInfo {
  display: grid;
  grid-template-columns: 7em 7em;
  padding: 0.5em 1em 1em;
  column-gap: 4em;
  margin: 0 auto;
  max-width: 18em;
}

.filmName {
  font-size: 1em;
  margin: 0;
  grid-row: 1/3;
}

.genre {
  display: block;
  font-size: 0.8em;
}

.runtime {
  display: block;
  font-size: 0.8em;
  grid-column: 2/3;
}

.filmText {
  padding: 0 3em;
  text-align: left;
  max-width: 30em;
  height: 10em;
  margin: 0 auto;
  overflow: scroll;
}

.filmText::-webkit-scrollbar {
  display: none;
}

.castHeadline {
  font-size: 1.5em;
  text-align: center;
}

.castSection {
  display: flex;
  margin: 0.5em 0.3em;
  justify-content: center;
}

.availableStreaming {
  padding-bottom: 5em;
  width: 20em;
  margin: 0 auto;
  text-align: center;
  vertical-align: center;
}

.streamingService {
  margin: 0.7em;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 0;
  max-height: 3em;
}

@media (max-width: 375px) {
  .trailer {
    width: 100%;
  }

  .filmInfo {
    column-gap: 3em;
  }

  .filmText {
    max-width: 22em;
    max-height: 7em;
  }

  .border {
    border: 1px solid var(--tertiary-color);
    text-align: center;
    width: 18em;
  }
  .availableStreaming {
    padding-bottom: 2em;
  }
  .filmName {
    font-size: 1em;
    margin: 0;
  }

  .genre {
    font-size: 0.7em;
  }

  .runtime {
    display: block;
    font-size: 0.7em;
    grid-column: 2/3;
  }

  @media (max-width: 375px) {
    .footer {
      height: 2.7em;
    }

    .footer svg {
      height: 3em;
      width: 100vw;
    }
  }
}

@media (max-width: 320px) {
  .trailer {
    width: 100%;
  }

  .filmText {
    max-width: 20em;
  }

  .filmName {
    font-size: 1em;
    margin: 0;
    padding-left: 1em;
  }

  .genre {
    display: block;
    font-size: 0.7em;
    align-items: baseline;
  }

  .runtime {
    display: block;
    font-size: 0.7em;
    grid-column: 2/3;
  }

  .border {
    width: 15em;
  }

  .footer {
    max-height: 2em;
  }

  .castSection {
    display: flex;
    margin: 0.5em 1em;
    justify-content: center;
    max-width: 17em;
  }

  .filmInfo {
    column-gap: 0.3em;
  }
}
