.homescreenLink {
  font-family: var(--font-family);
  font-size: 1.5em;
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
  display: block;
  padding: 0.4em;
  width: 60%;
  height: 2em;
  margin: 0 auto 0.9em;
  text-align: center;
  border: 0.06em solid var(--tertiary-color);
  border-radius: 0.325em;
}

@media (max-width: 375px) {
  .homescreenLink {
    font-size: 1.5em;
    width: 60%;
  }
}
